.button {
  padding: 12px 20px;
  border-radius: 44px;
  background: #ffffff;

  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 17px;
  line-height: 158.7%;
  letter-spacing: -0.03em;
  color: #000000;

  transition: all 0.3s ease;

  @media (max-width: 767px) {
    padding: 8px 20px;
    font-size: 16px;
    line-height: 158.7%;
  }

  &:hover {
    background: rgba($color: #ffffff, $alpha: 0.7);
  }

  &.transparent {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;

    &:hover {
      background: rgba($color: #ffffff, $alpha: 0.2);
    }
  }

  &.disabled {
    cursor: default;
    background: #ffffff;
    opacity: 0.5;
    color: #000000;

    &:hover {
      background: #ffffff;
      opacity: 0.5;
    }
  }
}
