.card {
  max-width: 410px;
  background: #121212;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 16px 28px;

  &Top {
    display: flex;
    align-items: center;

    &__title {
      display: flex;
      align-items: center;
      font-family: 'Source Sans Pro';
      font-weight: 600;
      font-size: 22px;
      line-height: 150%;
      letter-spacing: -0.03em;
      color: #ffffff;

      .copy {
        cursor: pointer;
        flex: 0 0 auto;
        display: block;
        width: 24px;
        height: 24px;

        margin: 0 0 0 12px;
      }
    }

    &__duration {
      margin: 0 0 0 auto;

      font-family: 'Source Sans Pro';
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      text-align: right;
      letter-spacing: -0.03em;
      color: #ffffff;
      opacity: 0.4;
    }
  }
  &Info {
    margin: 22px 0 0;
    padding: 22px 0;
    border-top: 1px solid rgba($color: #ffffff, $alpha: 0.2);
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.2);

    &__row {
      display: flex;

      &:not(:first-child) {
        margin: 12px 0 0;
      }
    }

    &__item {
      &:not(:first-child) {
        margin: 0 0 0 auto;
      }

      &Label {
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #ffffff;
        opacity: 0.4;
      }

      &Value {
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #ffffff;
      }
    }
  }
  &__disc {
    max-width: 262px;
    margin: 0 auto 0 0;
    padding: 22px 0 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 158.7%;
    letter-spacing: -0.03em;
    color: #ffffff;
  }
}
