.step {
  display: flex;
  flex-direction: column;
  margin: 24px 0 0;

  &__question {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #ffffff;

    @media (max-width: 991px) {
      font-size: 18px;
      line-height: 150%;

      br {
        display: none;
      }
    }
  }

  &__subtitle {
    margin: 14px auto 0;
    max-width: 580px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #ffffff;
  }

  &__input {
    flex: 1 1 auto;
    margin: 45px auto 0;
  }

  &Checkboxes {
    margin: 40px 0 0;
    display: flex;
    justify-content: center;

    @media (max-width: 767px) {
      margin: 26px 0 0;
      flex-direction: column;
    }

    &__col {
      &:not(:first-child) {
        margin: 0 0 0 34px;

        @media (max-width: 767px) {
          margin: 22px 00;
        }
      }
    }
    &__item {
      &:not(:first-child) {
        margin: 22px 0 0;
      }
    }
  }
}

.submit {
  margin: 130px auto 0;

  @media (max-width: 991px) {
    margin: 56px 0 0;
  }
}
