.content {
  display: flex;
  align-items: center;

  @media (max-width: 991px) {
    flex-wrap: wrap;
  }

  &._long {
    width: 100%;
    max-width: 540px;

    .content__input {
      max-width: 100%;
    }
  }

  &__input {
    flex: 1 1 auto;
    width: 348px;
    position: relative;
    height: 50px;

    @media (max-width: 991px) {
      width: 100%;
    }

    input {
      width: 100%;
      height: 100%;
      background: transparent;
      border: 2px solid rgba(255, 255, 255, 0.2);
      border-radius: 62px;

      padding: 0 20px;

      font-size: 17px;
      line-height: 158.7%;
      display: flex;
      align-items: center;
      letter-spacing: -0.03em;
      color: #ffffff;

      &::placeholder {
        color: #ffffff;
      }
    }

    button {
      cursor: pointer;
      position: absolute;
      width: 50px;
      height: 50px;
      top: 0;
      right: 0;

      background: #ffffff;
      border-radius: 50%;
      transition: all 0.3s ease;

      &:disabled {
        cursor: default;
        background: #a4959e;
      }
    }
  }

  &__btn {
    flex: 0 0 auto;
    margin: 0 0 0 14px;

    @media (max-width: 991px) {
      flex: 1 1 100%;
      margin: 16px 0 0;
    }
  }
}
