.footer {
  position: relative;
  z-index: 1;

  &__lights {
    pointer-events: none;
    position: absolute;
    z-index: 0;
    bottom: -750px;
    left: 43%;
    transform: translate(-50%, 0);

    width: 2400px;
    height: 1500px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &Body {
    position: relative;
    z-index: 1;
    display: flex;
    padding: 30px 0;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba($color: #ffffff, $alpha: 0.3);

    @media (max-width: 767px) {
      flex-direction: column-reverse;
      padding: 20px 0;
    }

    &__cr {
      font-weight: 400;
      font-size: 14px;
      line-height: 158.7%;
      letter-spacing: -0.03em;
      color: #ffffff;

      @media (max-width: 767px) {
        margin: 10px 0 0;
        font-size: 12px;
        line-height: 158.7%;
      }
    }

    &__links {
      display: flex;
      align-items: center;

      @media (max-width: 767px) {
        width: 100%;
        justify-content: space-between;
      }

      span {
        margin: 0 24px;
        color: #ffffff;
        @media (max-width: 767px) {
          margin: 0 10px;
        }
      }

      &Item {
        font-weight: 400;
        font-size: 14px;
        line-height: 158.7%;
        letter-spacing: -0.03em;
        color: #ffffff;

        @media (max-width: 767px) {
          font-size: 12px;
          line-height: 158.7%;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
