.btns {
  margin: 40px 0 0;
  display: flex;
  justify-content: center;

  @media (max-width: 767px) {
    margin: 26px 0 0;
    flex-direction: column;
  }

  &__item {
    &:not(:first-child) {
      margin: 0 0 0 10px;

      @media (max-width: 767px) {
        margin: 10px 0 0;
      }
    }
  }
}
