.screen {
  &-body {
    max-width: 790px;
    margin: 0 auto;
  }

  &__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 56px;
    line-height: 117.7%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #ffffff;
  }
  &__text {
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #ffffff;
  }
  &-btns {
    margin: 62px 0 0;
    display: flex;

    &__item {
      &:not(:first-child) {
        margin: 0 0 0 14px;
      }
    }
  }
}

.step {
  margin: 24px 0 0;

  &__question {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #ffffff;
  }

  &-checkboxes {
    margin: 40px 0 0;
    display: flex;
    justify-content: center;

    &__col {
      &:not(:first-child) {
        margin: 0 0 0 34px;
      }
    }
    &__item {
      &:not(:first-child) {
        margin: 22px 0 0;
      }
    }
  }

  &-btns {
    margin: 40px 0 0;
    display: flex;
    justify-content: center;

    &__item {
      &:not(:first-child) {
        margin: 0 0 0 10px;
      }
    }
  }
}
